/* Переменные */
:root {
  --color-green: #76bc21;
  --background-black-opacity: rgb(0,0,0,00%); /* Затенениие */
}


/* Общие  стили */

a {
  color: var(--color-green);
  text-decoration: none;
  transition: opacity .025s ease;
}

a:hover {
  opacity: 70%;
}

/* Header стили */

.header {   
    position: relative;
    height: 110vh;
    clip-path: polygon(100% 0, 100% 86%, 54% 100%, 0 88%, 0 0);


}

.header__background {
  position: absolute;
  height: inherit;
  width: 100%;
  object-fit: cover;
  filter: brightness(40%) grayscale(100%);  /* Фильтры размытия фона картинки */

}

.header__background-wrapper {  
  position: absolute;
  height: inherit;
  width: 100%;

  background:  rgb(0,0,0,5%);

  z-index: 1;
}                              /* Обёртка затения */

.header-top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fff;
  height: 80px;
  background-color: var(--background-black-opacity);

  z-index: 2;
}

.header-top  a { 
  color: #fff;
 }

.header-top a.active {
  color: var(--color-green);
}

.logo {
  font-size: 35px;
  color: #fff;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
}

.menu-element {
  margin-right: 10px;
  font-size: 22px;
}

.menu-element:last-child {
  margin-right: 0;
}

.header-center {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);  /* Расчет высоты */
  
  color: #fff;
  z-index: 2;
}

.header-center__wrapper {
  width: 100%;
  padding: 20px 0;
  background: var(--background-black-opacity); /* Затенениие */
  text-align: center; /* Выравнивание по центру */
}

.name {
  font-size: 58px; /* Размер заголовка */
  line-height: 74px; /* Ширина окна */
}

.discription {
  font-size: 22px;
}